body {
  font-family: Georgia, serif;
  background: white;
  color: #6C6E58;
}

.more { font-size: 0.7em;}

img.right { 
  float: right;
  margin: 15px;
}

a {
  color: #3E423A;
  font-weight: bold;
}

a:visited {
  color: #6C6E58;
  font-weight: normal;
}

.container {
    width: 50em;
    margin: 2em auto 0;
    padding: 0;
}

.site-header {
  text-align: left;
  padding: 1em;
}

.site-header h1 {}


#menu {
  background: #3E423A;
}

#menu ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  color: white;
  font-size: 1.3em;
  padding: 0 0.5em;
  line-height: 2.5em;  
  font-weight: normal;
}

.site-content {
    padding: 2em;
}
.site-content .site-content-h {
    margin: 0 0 0.5em 0;
    color: black;
    font-size: 1.5em;
}
.site-content p {
    line-height: 140%;
    letter-spacing: -0.03em;
}

.button {
  background: #484;
  display: block;
  padding: 0.4em 0.6em 0.3em;
  font-weight: bold;
  color: white;
  border-bottom: 3px solid #262;
  float: left;
}

.post {
  margin-bottom: 2em;
  color: #333;
}
.post-h {
  margin-top: 0.2em;
}
.post-h a {
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.3em 0;
  margin: 0 0 0.2em 0;
  border-bottom: 1px dashed #dba;
  font-weight: bold;
}
pre {
  background: #f8f8f8;
  border: 1px solid #E7E5DC;
  border-width: 1px 0 4px 6px;
  padding: 1em;
  overflow: auto;
  color: black;
  line-height: 120%;
  font-family: "Consolas","Courier New",Courier,mono;
  font-size: 12px;
  letter-spacing: 0;
}

/* Post List 
======================= */
.post-list {}
.post-list .post-link {
    color: #262;
}
.post-list .post-related {
    margin-bottom: 2em;
}


.site-footer {
  margin-bottom: 2em;
  color: #3E423A;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: center;
}

.home_box {
  float: left;
}

#content .home_box h2 {
  background: #417378;
  padding: 0.3em 0.5em;
  border-bottom: 3px solid #255;
  margin-bottom: 0em;
  color: white;
}

.home_box h2 a {
  color: white;
  margin: 0 0.2em;
}

#home_left {
  width: 29em;
}

#home_right {
  width: 16em;
  margin-left: 1em;
}

.clearfix { clear: both;}

#footer a {
  color: #3E423A;
  font-weight: normal;
}

.home_box .post h1 a {
  font-size: 0.7em;
}

.repo {
  background: #fff5cc;
  border: 2px solid #dda;
  padding: 0.7em 1em;
  font-size: 0.8em;
  letter-spacing: -0.03em;
  margin: 1em 1em 0 0;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
.repo h3 {
  margin: 0 0 0.3em 0;
}
.repo h3 a {
  font-weight: bold;
  color: black;
  letter-spacing: 0;
  font-size: 1.1em;
}

#github-projects.big .repo {
  float: left;
  width: 25.2em;
  margin: 1.2em 1em 0 0;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.float-left { float: left; }
.float-right { float: right; }

a img { border: 0; }